:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 150px;
  border: solid 1px white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 300ms;

  &:hover {
    transform: translateY(-5px);
  }
}

i[class^="fa-"] {
  font-size: 50px;
  margin-top: -15px;
}

.activation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 15px;
  top: -8px;

  border-radius: 15px;
  border: solid 1px white;
  background: #1e232d;
}

.resources {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;

  i.resource {
    margin-right: 10px;
    font-size: 14px;
  }
}