<app-dice></app-dice>

<ng-template  [ngIf]="gameMessenger.users.length == 0" >
    <app-game-runner></app-game-runner>
</ng-template>
<app-user-profile></app-user-profile>
<app-game-user-list></app-game-user-list>

<div class="market-and-cataclysm">
    <div class="deck-wrap">
        <div class="padding-bottom-s">Market</div>
        <i class="deck fa-light fa-store"></i>
    </div>

    <div class="deck-wrap">
        <div class="padding-bottom-s">Cataclysms</div>
        <i class="deck fa-solid fa-biohazard"></i>
    </div>
</div>

<div class="neutral-planets">
    <app-neutral-planet [type]="PlanetType.EARTH"></app-neutral-planet>
    <app-neutral-planet [type]="PlanetType.MOON"></app-neutral-planet>
    <app-neutral-planet [type]="PlanetType.SATURN"></app-neutral-planet>
    <app-neutral-planet [type]="PlanetType.EUROPE"></app-neutral-planet>
    <app-neutral-planet [type]="PlanetType.MOON"></app-neutral-planet>
</div>

<app-player-hand></app-player-hand>
