@import "card";

:host {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  position: absolute;
  left: 30px;
  font-size: 50px;
  cursor: pointer;
  transition: transform 300ms;
  @include card(80px, 120px);

  &:hover {
    transform: scale(1.07);
  }
}

.cards {
  display: flex;

  app-card + app-card {
    margin-left: 20px;
  }
}

.resources {
  position: absolute;
  bottom: 10px;
  left: 180px;
}

.resource-item {
  display: flex;
  margin-top: 10px;
}