<i class="deck fa-regular fa-jedi"></i>

<div class="resources">
    <b>Resources</b>
    <div class="resource-item">
        <i class="fa-regular fa-flask-round-potion"
           *ngFor="let i of player.resources.since | array"
        ></i>
    </div>
    <div class="resource-item">
        <i class="fa-regular fa-person-rifle"
           *ngFor="let i of player.resources.army | array"
        ></i>
    </div>
    <div class="resource-item">
        <i class="fa-solid fa-hammer"
           *ngFor="let i of player.resources.money | array"
        ></i>
    </div>
</div>

<div class="cards">
    <app-card *ngFor="let p of player.homePlanets"
              [card]="p"
    ></app-card>
</div>
